.THIS.scrollerSize {
    height: calc(100vh - 145px);
    /* 12rem  173px  185px*/
    overflow:hidden;
    z-index: 2;
}
.THIS .hiddenDiv {
    display:none;
}
.THIS svg.slds-button__icon--stateful {
    margin-right:0rem !important;
}
.THIS svg.slds-button__icon_left {
    margin-right:0rem !important;
}
.THIS .buttonSize {
    height: 100% !important;
    padding-top:    calc(50vh - 6.5rem);
    padding-bottom: calc(50vh - 6.5rem);
    display:block;
}
.THIS .sub-container {
    height: calc(100vh - 145px);
}
.THIS .content-container {
    padding-bottom: 50px;
}