.checklistCard {
  padding: 2px;
  padding-left: 10px;
}
.hover-card:hover {
  background-color: rgb(243, 242, 242);
}
.hover-card {
  border-bottom: 1px solid rgb(221, 219, 218);
  padding-top: 4px;
}
.align-middle {
  vertical-align:middle;
  padding-top: 2px;
}
.form-wrapper {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(221, 219, 218);
}
.form-padding {
  padding: 10px;
}
.form-padding-extra {
  margin: 3px 13px;
}
.form-buttons {
  margin: 5px;
}
.button-icon-checklist {
  padding-top: 3px;
}
.text-overdue {
  color: #ea001e;
}
.spinner-holder {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.checklist-image {
  width: 30px;
}
.cell-padding {
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 2px;
}